@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-slate-800 antialiased;
  font-family: 'Inter', sans-serif;
}

/* Glassmorphism Utility */
.glass {
  @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-lg;
}